<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 mh-100 text-center">
            <p>
              <b>Assumption#1:</b> when a person become sick the person does not move... 
            </p>
            <p>
              <b>Assumption#2:</b> After healed the person may will move again
            </p>
            <p>
              <b>Assumption#3:</b> After dead the person does not infect others
            </p>
            <p>
              <b>Assumption#4:</b> After healed the person will never infected again
            </p>
            <p>
              <b>Assumption#5:</b> A person just die during sick status
            </p>
            <p>
              <b>Assumption#6:</b> Chance of contamination when non-sick person interact with a sick is equal to 30%
            </p>
            <p>
              <b>Assumption#7:</b> Incubation time is the time to sick person (that does not show symptoms) show symptoms. Is equal to 140 (for better viewing)
            </p>
            <p>
              <b>Assumption#8:</b> Heal time is the time to sick person (that show symptoms) to be healed. Is equal to 300 (for better viewing)
            </p>
            <p>
              <b>Assumption#9:</b> A sick person is not isolated. She can continue spread the virus...
            </p>
            <p>
              <b>Assumption#10:</b> Chance to die
            </p>
            <table class="table table-light table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Age group</th>
                  <th>Chance</th>
                </tr>
              </thead>
              <tbody class="">
                  <tr>
                    <td>80+</td>
                    <td>18%</td>
                  </tr>
                  <tr>
                    <td>70 - 79</td>
                    <td>9.8%</td>
                  </tr>
                  <tr>
                    <td>60 - 69</td>
                    <td>4.6%</td>
                  </tr>
                  <tr>
                    <td>50 - 59</td>
                    <td>4%</td>
                  </tr>
                  <tr>
                    <td>40 - 49</td>
                    <td>3%</td>
                  </tr>
                  <tr>
                    <td>30 - 39</td>
                    <td>2%</td>
                  </tr>
                  <tr>
                    <td>20 - 29</td>
                    <td>1%</td>
                  </tr>
                  <tr>
                    <td>10 - 19</td>
                    <td>1%</td>
                  </tr>
                  <tr>
                    <td>0 - 9</td>
                    <td>1%</td>
                  </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>

